page-transaccionesdia {
    .fondo{

        background: #f3f3f3;
    }

    .rojito{
        background-color: rgb(196, 3, 3);
        color: white;
    }
    .rojito p{
        background-color: rgb(196, 3, 3);
        color: white;
    }

    .background{
        background-image: url('../../assets/imgs/fondo4.PNG');
        height: 30%;
        background-size: cover;
      }
}
